* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: rgb(226, 226, 226);
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #256188;
	font-family: 'Cinzel', serif;
}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.logo a {
	text-decoration: none;
	color: rgb(226, 226, 226);
}

.fas {
	font-size: 30px;
}

.links {
	display: flex;
	justify-content: space-around;
	width: 30%; 
}

.links li {
	list-style: none;
}

.links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}

.burger {
	display: none;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 992px){
	.links {
		display: flex;
		justify-content: space-around;
		width: 50%;
	}

	.separator {
		width: 600px;
		margin-left: 12%;
	}

}

@media screen and (max-width: 1070px){
	.the-user {
		display: none;
	}
}

@media screen and (max-width: 700px){
	body {
		overflow-x: hidden;
	}

	.links {
		position: absolute;
		right: 0px;
		height: 30vh;
		top: 8vh;
		background-color: #256188;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.links li {
		opacity: 0;
	}

	.burger {
		display: block;
		cursor: pointer;
	}

	.separator {
		width: 300px;
		margin-left: 12%;
	}

	.inputs-style {
		width: 35%;
	}

	#login-form-container input {
		width: 100%;
	}

	#lgn-cnt-small{
		margin-top: 50%;
	}

	#signup-form-container input {
		width: 100%;
	}

	#add-comment-container input,
	#add-comment-container textarea {
		width: 100%;
	}

	#add-articles-form input,
	#add-articles-form select,
	#add-articles-form textarea,
	#add-articles-form p{
		width: 100%;
	}

	.the-user {
		display: none;
	}

	#tag-select {
		width: 20%;
	}

	#btn2-small{
		width: 100%;
	}

	#artar-small{
		margin-left: 0%;
	}

	#str-cmtn{
		float: none;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.animate .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.animate .line2 {
	opacity: 0;
}

.animate .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.container {
  margin: 0 auto;
  width: 80%; 
  text-align: center;
}

#content {
	text-align: center;
  	padding-top: 17%;
}

#main-title {
	font-weight: 700;
	font-size: 5em;
	color: #3C4858;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 
}

#description {
	font-size: 25px;
	padding-bottom: 8px;
	color: #666666;
	margin-top: 30px;
}

hr {
	width: 715px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-left: 22%;
	margin-bottom: 40px;
}

#get-started {
	border-radius: 6px; 
	font-size: 20px; 
	line-height: 1.3333333;
	padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #256188;
    border: transparent;
    color: #E2E2E2;
    
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

#get-started:hover,
#get-started:active {
	background-color: #164766;
}

#login-form-container {
	box-sizing: border-box;
	margin-top: 10%;
}

.up-logo {
	color: #3C4858;
	font-size: 50px;
}

#login-form-container input {
	margin-bottom: 20px;
}

.inputs-style {
	width: 35%;
	height: 36px;
	padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inputs-style2 {
	width: 45%;
	height: 36px;
	padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inputs-style:focus,
.inputs-style2:focus {
	box-shadow: 0 0 5px #256188;
}

#login-form-container h1 {
	margin-bottom: 20px;
	font-size: 4em;
	color: #3C4858;
}

.my-buttons-customized {
	border-radius: 6px; 
	font-size: 20px; 
	line-height: 1.3333333;
	padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #256188;
    border: transparent;
    color: #E2E2E2;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.my-buttons-customized2 {
	width: 35%;
	border-radius: 6px; 
	font-size: 25px; 
	line-height: 1.3333333;
	padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #256188;
    border: transparent;
    color: #E2E2E2;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.my-buttons-customized3 {
	width: 45%;
	border-radius: 6px; 
	font-size: 25px; 
	line-height: 1.3333333;
	padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #256188;
    border: transparent;
    color: #E2E2E2;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.my-buttons-customized:hover,
.my-buttons-customized2:hover,
.my-buttons-customized3:hover {
	background-color: #164766;
}

#signup-form-container {
	box-sizing: border-box;
	margin-top: 2%;
}

#signup-form-container h1 {
	margin-bottom: 20px;
	font-size: 4em;
	color: #3C4858;
}

#signup-form-container input {
	margin-bottom: 20px;
}

#add-articles-form {
	box-sizing: border-box;
	margin-top: 5%;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

#add-articles-form h1 {
	margin-bottom: 20px;
	font-size: 4em;
	color: #3C4858;
}

#add-articles-form input,
#add-articles-form textarea,
#add-articles-form select {
	margin-bottom: 20px;
}

.txt-area {
	height: 12em;
    min-height: 8em;
    max-height: 24em;
}

#comment-area {
	height: 3em;
    min-height: 3em;
	max-height: 10em;
	width: 70%;
	border-radius: 4px;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	padding: 4px;
}

.txt-area2 {
	height: 50em;
    min-height: 50em;
    max-height: 60em;
}

#add-articles-form select {
	color: #666666; 
}

#add-comment-container {
	box-sizing: border-box;
	margin-top: 5%;
}

#add-comment-container h1 {
	margin-bottom: 20px;
	font-size: 4em;
	color: #3C4858;
}

#add-comment-container input {
	margin-bottom: 20px;
}

.dashboard-tab {
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	width: 100%;
}

.dashboard-tab2 {
	background-color: #fff;
	min-height: 10vh;
	width: 100%;
}

.dashboard-tab h4 {
	float: left;
	color: #4F575E;
	font-size: 2em;
	margin-right: -23%;
	margin-left: 3%;
}

.dashboard-tab a {
	color: #fff;
	text-decoration: none;
	background-color: #56AD55;
	border: 1px solid transparent;
    border-radius: 2px; 
}

.own-title {
	font-size: 40px;
	color: #4F575E;
	font-family: 'Dancing Script', cursive;
}

.dashboard-tab a:active,
.dashboard-tab a:hover{
	background-color: #468045;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
}

.story {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  box-shadow: 0 0 5px #256188;
}

.story-image {	
  background-size: cover;
  min-height: 180px;
  max-height: 280px;
  background-position: center;
  background-color: #ccc;
  height: 280px;
}

.story-image img {
	height: 100%;
	width: 100%;
}

.story-content {
  padding: 15px;
}

.story-content h4 {
	font-size: 2em;
	color: #4F575E;
}

.story-content h3 {
	color: #4F575E;
	padding-top: 10px;
	padding-bottom: 5px;
}

.story-content p {
	font-size: 20px;
}

.story-button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #4F575E;
}

.story-button-share {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #ffffff;
}

.story-button-edit {
  background-color: #f39300;
  border: 1px solid #f39300;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #ffffff;
}

.story-button-edit2 {
  background-color: #f39300;
  border: 1px solid #f39300;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 3px;
  font-size: 15px;
  font-family: "Times New Roman";
  color: #ffffff;
  float: right;
}

.story-button-delete {
  background-color: #BD2C00;
  border: 1px solid #BD2C00;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #ffffff;
}

.story-button-delete2 {
  background-color: #BD2C00;
  border: 1px solid #BD2C00;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 12px;
  font-family: "Times New Roman";
  color: #ffffff;
  margin-left: 2%;
  margin-top: -2%;
  margin-bottom: 1%;
}

.story-button-delete3 {
  background-color: #BD2C00;
  border: 1px solid #BD2C00;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  margin-top: 10px;
  font-size: 12px;
  font-family: "Times New Roman";
  color: #ffffff;
  margin-left: 2%;
  margin-bottom: 1%;
}

.story-button-all {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: .25rem;
  outline: none;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #4F575E;
}

/*.story button:active,
.story button:hover,
.story a:hover {
	background-color: #CCCCCC;
}*/

.story-button-share:hover{
	background-color: #1667a8;
}

.story-button-edit:hover,
.story-button-edit2:hover{
	background-color: #c77e0e;
}

.story-button-delete:hover{
	background-color: #a62d08;
}

.story-button-delete2:hover{
	background-color: #a62d08;
}

.story-button-delete3:hover{
	background-color: #a62d08;
}

.story a {
	text-decoration: none;
}

.view-more-grid {
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  	margin-top: 3%;
  	margin-left: 17%;
	margin-right: 17%;
	box-shadow: 0 0 5px #256188;
}

.view-more {
	border: 1px solid #d3d3d3;
  	border-radius: .25rem;
}

.one-img {
	background-size: cover;
  	min-height: 180px;
  	max-height: 280px;
  	background-position: center;
  	background-color: #ccc;
  	height: 280px;
}

.one-img img{
	width: 100%;
	height: 100%;
}

.one-content {
	padding: 15px;
}

.one-content h4 {
	font-size: 2em;
	color: #4F575E;
}

.one-content p {
	font-size: 20px;
	padding-bottom: 10px;
}

/*.view-more button:active,
.view-more button:hover,
.view-more a:hover {
	background-color: #CCCCCC;
}*/

.view-more a {
	text-decoration: none;
}

.comments-grid {
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  	margin-left: 17%;
  	margin-right: 17%;
  	background-color: #ccc;
  	margin-top: 1%;
  	margin-bottom: 2%;
}

.comments {
	padding: 20px;	
}

.comments:hover {
	box-shadow: 0 0 5px #256188;
}

.comments h1 {
	color: #4F575E;
}

.comments p {
	font-size: 19px;
}

.comments-div {
	display: flex;
	margin-bottom: 2%;
}

.comments-div h3 {
	padding-right: 7px;
}

.btn-flag:active,
.btn-flag:hover {
	background-color: #E2E2E2;
}

.tag {
	color: #4F575E;
	margin-left: 3%;
}

.tag select {
	color: #4F575E;
	width: 15%;
	height: 30px;
	border: hidden;
	background-color: transparent;
	padding-left: 10px;
	outline: none;
}

.tag label {
	font-size: 20px;
}

#user-profile {
	box-sizing: border-box;
	margin-top: 2%;
}

#user-profile h4{
	margin-bottom: 20px;
	font-size: 4em;
	color: #3C4858;
}

#user-profile label {
	color: #4F575E;
	font-size: 20px;
}

#user-profile img {
	border-radius: 70px;
}

#user-profile button {
	margin-bottom: 10px;
} 

#user-profile button:hover {
	background-color: #CCCCCC;
} 

.table-content {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	min-width: 900px;
}

.table-content thead tr {
	background-color: #256188;
	color: #E2E2E2;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}

.table-content th,
.table-content td {
	padding: 12px 15px;
}

.table-content tbody tr {
	border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
	border-bottom: 2px solid #256188;
}

.table-content tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

#flagged-comments {
	margin-top: 2%;
	margin-right: 18%;
	margin-left: 23%;
	padding-bottom: 5px;
	overflow-x: auto;
}

.admn-title {
	margin-top: 2%;
}

table button:hover {
	background-color: #CCCCCC;
}

.on{
	border-bottom: 4px solid #E2E2E2;
}

.article-area{
	font-size: 20px;
	padding: 5px;
	width: 45%;
	margin-left: 27.5%;
	box-shadow: 0 0 5px #256188;
}

.footer {
	position: relative;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: transparent;
  	color: #666666;
  	text-align: center;
  	padding: 1rem;
}