<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cinzel&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>Profile</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4><a href="userDashboard.html"><i class="fas fa-people-carry"></i>Teamwork</a></h4>
        </div>
        <ul class="links">
            <li><a class="selected" href="userDashboard.html">Home</a></li>
            <li><a class="selected on" href="userProfile.html">Profile</a></li>
            <li><a class="selected" href="login.html">Log out</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <div id="user-profile">
            <i class="fas fa-people-carry up-logo"></i>
            <h3>User Profile</h3>
            <img
                src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"><br>
            <div id="user-info">
                <table class="table-content-2">
                <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>Niyigena Abdou Nuru</td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td>Abdoul Nuru</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>abdoulniyigena@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Account created on:</td>
                            <td>23/05/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="story-button-share">Edit</button>
            <button class="story-button-edit">Change password</button>
        </div>
    </div>

    <div class="footer">
        <p>Teamwork &copy; 2019</p>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>