<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cinzel&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4><a href="userDashboard.html"><i class="fas fa-people-carry"></i>Teamwork</a></h4>
        </div>
        <ul class="links">
            <li><a class="selected on" href="userDashboard.html">Home</a></li>
            <li><a class="selected" href="userProfile.html">Profile</a></li>
            <li><a class="selected" href="login.html">Log out</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="dashboard-tab">
        <h4 class="the-user">Welcome Abdoul Nuru</h4>
        <div class="container">
            <a class="my-buttons-customized" href="addArticle.html">Add an article</a>
            <a class="my-buttons-customized" href="viewAll.html">View all articles</a>
        </div>
    </div>
    <div class="container">
        <p class="own-title">your articles</p>
    </div>

    <div class="grid-container">
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1544216717-3bbf52512659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Working Out</h4>
                <p>Some quick example text to build on the article card to see how the articles will look like.</p>
                <button class="story-button">Share</button>
                <a class="story-button" href="editArticle.html">Edit</a>
                <a class="story-button" href="deleteArticle.html">Delete</a>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1519861531473-9200262188bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Basketball</h4>
                <p>Some quick example text to build on the article card to see how the articles will look like.</p>
                <button class="story-button">Share</button>
                <a class="story-button" href="editArticle.html">Edit</a>
                <a class="story-button" href="deleteArticle.html">Delete</a>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Web Dev</h4>
                <p>Some quick example text to build on the article card to see how the articles will look like.</p>
                <button class="story-button">Share</button>
                <a class="story-button" href="editArticle.html">Edit</a>
                <a class="story-button" href="deleteArticle.html">Delete</a>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1475869430886-fb14585f7443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>African Cuisine</h4>
                <p>Some quick example text to build on the article card to see how the articles will look like.</p>
                <button class="story-button">Share</button>
                <a class="story-button" href="editArticle.html">Edit</a>
                <a class="story-button" href="deleteArticle.html">Delete</a>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1561993090-b7c00b87852a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Life at Andela</h4>
                <p>Some quick example text to build on the article card to see how the articles will look like.</p>
                <button class="story-button">Share</button>
                <a class="story-button" href="editArticle.html">Edit</a>
                <a class="story-button" href="deleteArticle.html">Delete</a>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Teamwork &copy; 2019</p>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>