<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cinzel&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>Profile</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4><a href="userDashboard.html"><i class="fas fa-people-carry"></i>Teamwork</a></h4>
        </div>
        <ul class="links">
            <li><a class="selected" href="userDashboard.html">Home</a></li>
            <li><a class="selected on" href="userProfile.html">Profile</a></li>
            <li><a class="selected" href="login.html">Log out</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <div id="user-profile">
            <i class="fas fa-people-carry up-logo"></i>
            <h3>User Profile</h3>
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp-MLoHVHXxaOFY6k-ZTqEkQr4Di_p-gfbWI9Mhq--x16i18tYPA"><br>
            <h4><span>Name:</span> Niyigena Abdou Nuru</h4><br>
            <h4><span>Username:</span> Abdoul Nuru</h4><br>
            <h4><span>Email:</span> abdoulniyigena@gmail.com</h4><br>
            <h4>Account created on 23/05/2019</h4><br>
            <button class="story-button-share">Edit</button>
            <button class="story-button-edit">Change password</button>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>