<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cinzel&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>All articles</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4><a href="userDashboard.html"><i class="fas fa-people-carry"></i>Teamwork</a></h4>
        </div>
        <ul class="links">
            <li><a class="selected" href="userDashboard.html">Home</a></li>
            <li><a class="selected on" href="viewAll.html">Workspace</a></li>
            <li><a class="selected" href="login.html">Log out</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <p class="own-title">All articles</p>
    </div>

    <div class="tag">
        <label>Category</label>
        <select id="tag-select">
            <option value="all">All</option>
            <option value="inspirational">Inspirational</option>
            <option value="sport">Sports</option>
            <option value="culture">Culture</option>
            <option value="religion">Religion</option>
            <option value="politics">Politics</option>
        </select>
    </div>

    <div class="grid-container2">
        <div class="story">
            <div class="story-image">
                <img src="https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638__340.jpg">
            </div>
            <div class="story-content">
                <h4>Working in a team</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Nuru on 13/09/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
                <div class="comments-div">
                    <h3>Guevara</h3>
                    <p>I this article was inapropriate.</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
                <div class="comments-div">
                    <h3>Bella</h3>
                    <p>Woow, I really enjoyed reading this</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Web development</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Ezekiel on 07/09/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
                <div class="comments-div">
                    <h3>Nuru</h3>
                    <p>Thank you for this good article</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img src="https://cdn.pixabay.com/photo/2017/03/02/05/14/bible-2110439__340.jpg">
            </div>
            <div class="story-content">
                <h4>Faith in God</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Festus on 07/09/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
                <div class="comments-div">
                    <h3>Emmanuel</h3>
                    <p>Ameen!!!</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
                <div class="comments-div">
                    <h3>Festus</h3>
                    <p>Faith can move mountains.</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1564833840938-2f5041df082d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Classic cars</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Doddy on 28/08/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
                <div class="comments-div">
                    <h3>Sam</h3>
                    <p>i loved the beetle.</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>

            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Healthy diet</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Karen on 14/08/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
            </div>
        </div>
        <div class="story">
            <div class="story-image">
                <img
                    src="https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="story-content">
                <h4>Most popular sports in the world</h4>
                <p>Some quick example text to build on the article card to see how...</p>
                <a class="story-button-share" href="viewOne.html">Read more</a>
                <button class="story-button-delete"><i class="far fa-flag"></i></button>
                <h3>Posted by Nuru on 17/07/2019</h3>
                <div id="cmnt-area-container">
                    <textarea id="comment-area" placeholder="Comment"></textarea>
                    <button class="story-button-edit2" id="str-cmtn">Add comment</button>
                </div>
            </div>

            <div class="comments">
                <div class="comments-div">
                    <h3>Guevara</h3>
                    <p>Yeaaah, football is the best.</p>
                    <button class="story-button-delete2"><i class="far fa-flag"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Teamwork &copy; 2019</p>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>